{% extends 'base.html' %}

{% block content %}
    <div class="container col-sm-3 mt-5">
        <h2 class="col-sm-3 mt-5 mb-5 m-auto">登 录</h2>
        {% for msg in get_flashed_messages() %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ msg }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        <form method="post">
            {{ form.csrf_token }}
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="username" id="username" aria-label="Username"
                       placeholder="Username" required>
                <label for="username">用户名</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" name="password" id="password" aria-label="Password"
                       placeholder="Password" required>
                <label for="password">密码</label>
            </div>
            <button type="submit" class="btn btn-primary">登 录</button>
            <div class="float-end">
                <span>还没有账户？ </span>
                <a class="btn btn-warning" href="{{ url_for('user.register') }}">注 册</a>
            </div>
        </form>
    </div>
{% endblock %}